form{
  display: flex;
  flex-direction: column;

  width: 300px;
  border: 1px rgb(0, 0, 0) solid;
  box-shadow: 0px 1px 10px 0px;
}

.input__value {
  display: grid;
}

label {
  font-weight: bold;
}

.radio__container{
  display: grid;
}

strong{ 
  color: red;
  font-weight: bolder;
}

